<h3><%= @rabbit.name %></h3>
<p>Color: <%= @rabbit.color %> </p>
<p>Age: <%= @rabbit.age %> </p>
<p>Description: <%= @rabbit.description %> </p>
<p>Created at: <%= @rabbit.created_at %> </p>
<p>Last updated at: <%= @rabbit.updated_at %> </p>
<a href="/rabbits/edit/<%= @rabbit.id %>">EDIT</a>
<a href="/rabbits/delete/<%= @rabbit.id %>">DELETE</a>
<a href="/rabbits">Back to index</a>